/*Overrides*/
a {
  text-decoration: none;
}

/*Layout*/
.gray-bg {
  background: #f3f3f3;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  padding-bottom: 10px;
}

.article-row {
  margin: 0 10px
}

.top-bar {
  background: #215aa9;
  height: 70px;
}

.container-section {
  padding-top: 40px;
}


/*Text*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

a.text-highlight, .text-highlight {
  color: #2f62f2;
}

a.text-highlight:hover {
  color: #84aade;
}

.bold {
  font-weight: 600;
}

.main-header {
  font-size: 2.4rem;
}

.subheader {
  font-size: 1.4rem;
  letter-spacing: 0;
  color: #767676;
}


/*Menu*/
.inline-menu li{
  display: inline;
  font-size: 0;
}

.menu-link:first-child {
  border-left: none;
}

.menu-link {
  color: #3a3a3a;
  display: inline-block;
  padding: 0 15px;
  position: relative;
  font-size: 1.4rem;
  font-weight: bold;
}

.menu-link:after {
  content: '';
  height: 60%;
  width: 1px;
  background: #2f62f2;
  position: absolute;
  top: 20%;
  left: 0;
}

.menu-link.first:after {
  content: none;
}

.menu-link:hover {
  color: #777;
}

.top-menu {
  padding-top: 26px;
}

.top-menu-link {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold
}

.top-menu-link:after {
  background: #fff;
}

.top-menu-link:hover {
  color: #84aade
}


/*Lists*/
