*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

img {
  width: auto;
  max-width: 100%;
  height: auto; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media screen and (min-width: 670px) {
  .wrapper {
    max-width: 960px; }
  .column-1 {
    width: 8.33333%; }
  .column-2 {
    width: 16.66667%; }
  .column-3 {
    width: 25%; }
  .column-4 {
    width: 33.33333%; }
  .column-5 {
    width: 41.66667%; }
  .column-6 {
    width: 50%; }
  .column-7 {
    width: 58.33333%; }
  .column-8 {
    width: 66.66667%; }
  .column-9 {
    width: 75%; }
  .column-10 {
    width: 83.33333%; }
  .column-11 {
    width: 91.66667%; }
  .column-12 {
    width: 100%; } }
