/* Basic elements */
a.button {
	padding: 1rem 2rem;
	background: $primary-color;
	border-radius: 5px;
	color: $white-color;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, .2);
	transition: background-color .5s, box-shadow .5s;
	display: inline-block;

	&:hover, &:focus {
		background-color: $secondary-color;
		box-shadow: 3px 3px 10px $border-color;
	}

	&:focus {
		border: 3px solid $border-color;
	}
}

/* Page structure */
header {
	background: $secondary-color;
	padding: 1.5rem 0;
	transition: position .5s, width .5s;

	&.sticky-header {
		position: fixed;
		width: 100%;
	}

	nav {
		ul {
			li {
				display: inline-block;

				a {
					color: $white-color;
					font-size: 1.2rem;
					padding: 0 1rem;

					&:hover, &:focus {
						color: lighten($primary-color, 30%);
					}

					&:focus {
						outline: 3px dotted $white-color;
					}
				}

				&+li:before {
					color: $white-color;
					content: '|';
				}
			}
		}
	}
}

.hero {
	background: $border-color url('../img/bg-hero.jpg') repeat;
	padding: 2rem 0 1.5rem 0;
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	text-align: center;

	&.call-to-action {
		padding-bottom: 5rem;
	}

	h2 {
		margin-top: 3rem;
	}

	p {
		font-size: 1.2rem;
		color: $light-font-color;
		margin-bottom: 3rem;
	}
}

.feature-image {
	padding: 3rem 0;

	img {
		margin-top: 0.5em;
	}
}

.highlight-items {
	padding-bottom: 3rem;

	h2 {
		margin-bottom: 1rem;
	}

	p {
		color: $light-font-color;
	}
}

.sign-up {
	padding-bottom: 3rem;
	text-align: center;

	[class*='column-'] {
		float: none;
		margin: 0 auto;
	}

	.button {
		min-width: 130px;
		width: 15%;
	}

	input {
		width: 80%;
		margin-right: 2%;
		margin-bottom: 1em;
		padding: 1.2rem 2rem;
		border: 1px solid #f5f5f5;
		box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .34);
	}
}

@media screen and (max-width: 670px) {
	header {
		h1 {
			text-align: center;
		}
		nav {
			ul {
				text-align: center;
			}
		}
	}
	.highlight-items {
		text-align: center;
	}
}

footer {
	background: $bg-color;
	padding: 5rem 0 4rem 0;
	text-align: center;

	ul {
		li {
			display: inline-block;

			&+li:before {
				color: $primary-color;
				content: '|';
			}

			a {
				font-size: 1.2rem;
				padding: 0 1rem;

				&.cta-link {
					color: $primary-color;
				}
			}
		}
	}

	.copyright {
		color: $primary-color;
		font-size: 1.2rem;
		margin-top: 2rem;
	}
}

@media screen and (min-width: 670px) {
	header {
		nav {
			ul {
				text-align: right;
			}
		}
	}
	.highlight-items {
		img {
			float: left;
			margin-right: 3rem;
		}
	}
}