$base-font: 'Arial', 'Helvetica', sans-serif;
$base-font-size: 14px;

$primary-color: 	#2f62f2;
$secondary-color: 	#215aa9;
$bg-color:			#e5eaf1;
$font-color: 		#3a3a3a;
$light-font-color:	#767676;
$border-color:		#e4e4e4;

$grid-columns: 12;
$grid-max-width: 960px;
