:root {
  font-size: 16px;
}


$size-xxs:  0.25rem;   // 4px
$size-xs:   0.5rem;    // 8px
$size-base: 1rem;      // 16px
$size-sm:   1.5rem;    // 24px
$size-md:   2rem;      // 32px
$size-lg:   2.5rem;    // 40px
$size-xl:   4rem;      // 64px
$size-xxl:  5rem;      // 80px
$size-huge: 7.5rem;    // 120px
