/* Settings */
@import 'settings/colors'
@import 'settings/typography'

/* Tools */
@import 'tools/breakpoints'

/* Generic */
@import 'generic/box-model'

/* Base */
@import 'base/normalize'
@import 'base/page'

/* Objects */
@import 'objects/input'
@import 'objects/btn'

/* Components */
@import 'components/header'
@import 'components/main'
@import 'components/footer'