<div class="title grid -wrap halign-center">
  <h1 class="text col-12">{{ title.text }}</h1>
  <p class="subtitle col-12">{{ title.subtitle }}</p>
  {% set button = title.button %}
  {% include "button/template.njk" %}
</div>
