.btn {
	background: $blue-bg;
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 10pt;
	font-weight: 600;
    padding: 8px 15px;

	&:focus,
	&:hover {
		background: $blue1;	
	}

	&.email-btn {
		height: 50px;
		line-height: 50px;
		padding: 0 20px;
	}
}