@media (max-width: 480px) {
  header {
    padding: 0 !important; }
    header h1 {
      background: url("../images/logo.png") no-repeat 0 20px !important;
      background-size: contain !important;
      width: 100%;
      height: 70px; }
    header .lst-nav ul {
      padding: 1.250em 0 !important; }
      header .lst-nav ul li {
        font-size: 0.625em !important; }
        header .lst-nav ul li a {
          text-decoration: underline !important; }
        header .lst-nav ul li a:after {
          border-right: none !important;
          padding: 0 !important; } }

@media (min-width: 767px) and (max-width: 1024px) {
  header {
    padding: 1.250em 0 !important; } }

.button-common {
  width: 8.750em;
  text-align: center;
  background: #215aa9;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.813em;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  border-radius: 5%; }
  .button-common.medium {
    padding: 0.750em 1.375em; }

.box-common {
  display: inline-block;
  vertical-align: top; }

.center {
  display: block;
  margin: 0 auto; }

header {
  font-family: 'arial';
  background: #215aa9;
  height: 4.375em;
  padding: 1.250em 7.500em; }
  header h1 {
    width: 100%;
    height: 70px;
    background: url("../images/logo.png") no-repeat 0 -20px;
    background-size: contain;
    text-indent: -99999px;
    margin: 0;
    color: #ffffff; }
  header .lst-nav ul {
    padding: 0.313em 0;
    margin: 0; }
    header .lst-nav ul li {
      display: inline;
      color: #ffffff;
      padding-left: 0.313em;
      font-size: 1.000em;
      font-weight: bold; }
      header .lst-nav ul li a {
        text-decoration: none;
        color: #ffffff; }
      header .lst-nav ul li a:after {
        content: '';
        border-right: 2px solid #ffffff;
        padding: 0 0.313em; }
  header .figure {
    background: url("../images/bg-devices.png") no-repeat 0 30px;
    background-size: contain;
    width: 100%;
    height: 415px; }
  header p {
    text-align: center;
    color: #3a3a3a;
    font-weight: 600;
    font-size: 1.250em;
    margin: 2.500em 0 0; }
  header p + p {
    color: #767676;
    font-size: 14px;
    font-weight: normal;
    margin: 0.625em 0 1.875em; }

.content-features {
  margin: 2.500em 0 0; }
  .content-features h2 {
    color: #3a3a3a;
    font-size: 1.500em;
    font-family: 'arial'; }
  .content-features ul {
    margin: 0;
    padding: 0; }
    .content-features ul li {
      font-family: 'arial';
      font-size: 0.750em;
      list-style: none;
      padding: 0.313em 0; }

.content-register {
  margin: 2.500em 0 0; }
  .content-register h3 {
    font-family: 'arial';
    font-size: 1.500em; }
  .content-register p {
    font-size: 0.750em;
    color: #767676;
    display: inline-block;
    vertical-align: top;
    padding-right: 1.250em; }
  .content-register form {
    margin: 3.750em 0 0 4.375em; }
    .content-register form input {
      width: 75%;
      height: 3.125em; }
    .content-register form ::-webkit-input-placeholder {
      color: #848484;
      font-size: 0.875em; }
    .content-register form ::-moz-placeholder {
      color: #848484;
      font-size: 0.875em; }
    .content-register form :-ms-input-placeholder {
      color: #848484;
      font-size: 0.875em; }
    .content-register form :-moz-placeholder {
      color: #848484;
      font-size: 0.875em; }
