header {
  font-family: 'arial';
  background: #215aa9;
  height: 4.375em;
  padding: 0em 7.500em; }
  header h1 {
    width: 100%;
    height: 70px;
    background: url("../images/brand.png") no-repeat 0 0;
    background-size: contain;
    text-indent: -99999px;
    margin: 0;
    color: #ffffff; }
  header .lst-nav ul {
    margin: 1.875em 0 0; }
    header .lst-nav ul li {
      display: inline;
      color: #ffffff;
      padding-left: 0.313em;
      font-size: 1em;
      font-weight: bold; }
      header .lst-nav ul li a {
        text-decoration: none;
        color: #ffffff; }
      header .lst-nav ul li a:after {
        content: '';
        border-right: 2px solid #ffffff;
        padding: 0 0.313em; }
  @media (max-width: 480px) {
    header {
      padding: 0em; }
      header h1 {
        background: url("../images/brand.png") no-repeat 0 20px;
        background-size: contain; }
      header .lst-nav ul {
        margin: 1.25em 0em;
        padding: 0em; }
        header .lst-nav ul li {
          font-size: 0.625em;
          padding: 0em 0.063em; }
          header .lst-nav ul li a {
            text-decoration: underline; }
          header .lst-nav ul li a:after {
            border: none;
            padding: 0em; } }
  @media (min-width: 767px) and (max-width: 1024px) {
    header {
      padding: 0em; }
      header .lst-nav ul li {
        font-size: 0.875em; } }
  @media (min-width: 767px) and (max-width: 1024px) and (orientation: portrait) {
    header .lst-nav ul li {
      font-size: 0.75em; } }

.container.fixed-effects {
  position: fixed;
  width: 100%;
  z-index: 20;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 1ms ease-in;
  -moz-transition: all 1ms ease-in;
  -ms-transition: all 1ms ease-in;
  -o-transition: all 1ms ease-in;
  transition: all 1ms ease-in; }

.content-themes {
  background: url("../images/bg-hero.jpg");
  overflow: hidden;
  padding: 1.25em 0em;
  border-bottom: 1px solid #e4e4e4; }

.content-features {
  margin: 2.5em 0 0; }
  .content-features h2 {
    color: #3a3a3a;
    font-size: 1.5em;
    font-family: 'arial'; }
  .content-features ul {
    margin: 0;
    padding: 0; }
    .content-features ul li {
      font-family: 'arial';
      font-size: 0.75em;
      list-style: none;
      padding: 0.313em 0; }
  @media (max-width: 480px) {
    .content-features {
      margin: 0em; }
      .content-features h2 {
        font-size: 1.125em; } }
  @media (min-width: 767px) and (max-width: 1024px) {
    .content-features h2 {
      font-size: 1.125em; } }

.content-register {
  margin: 2.5em 0 0; }
  .content-register h3 {
    font-family: 'arial';
    font-size: 1.5em; }
  .content-register p {
    font-size: 0.75em;
    color: #767676;
    display: inline-block;
    vertical-align: top;
    padding-right: 1.25em; }
  .content-register form {
    margin: 3.75em 0 0 4.375em; }
    .content-register form input {
      width: 75%;
      height: 3.125em;
      color: #848484;
      font-size: 0.875em;
      -webkit-border-radius: 0.313em;
      -moz-border-radius: 0.313em;
      -ms-border-radius: 0.313em;
      border-radius: 0.313em;
      border-bottom: 0.063em solid #f5f5f5; }
    .content-register form button {
      border: transparent; }
  @media (max-width: 480px) {
    .content-register {
      margin: 0em; }
      .content-register h3 {
        font-size: 1.125em; }
      .content-register form {
        margin: 0.938em 0em; }
        .content-register form input {
          width: 60%;
          height: 4.125em;
          font-size: 0.5em; } }
  @media (min-width: 767px) and (max-width: 1024px) {
    .content-register h3 {
      font-size: 1.125em; } }
  @media (min-width: 767px) and (max-width: 1024px) and (orientation: portrait) {
    .content-register h3 {
      font-size: 1em; } }

.content-order {
  margin: 3.125em 0;
  background: url("../images/bg-hero.jpg");
  overflow: hidden;
  padding-bottom: 1.25em;
  border-top: 1px solid #e4e4e4; }
  @media (max-width: 480px) {
    .content-order {
      margin: 0em; } }
  @media (min-width: 767px) and (max-width: 1024px) and (orientation: portrait) {
    .content-order {
      padding-bottom: 0em; } }

footer {
  background: #e5eaf1;
  padding: 4.375em 4.375em 5.625em; }
  footer nav ul {
    list-style: none;
    margin: 0;
    text-align: center; }
    footer nav ul li {
      display: inline;
      font-size: 0.875em; }
      footer nav ul li a {
        color: #3a3a3a;
        text-decoration: none;
        padding: 0.313em;
        font-weight: bold; }
      footer nav ul li:nth-child(4) a {
        color: #2f62f2; }
    footer nav ul li:before {
      content: '';
      border-right: 1px solid #2f62f2; }
  footer p {
    color: #2c5ee6;
    font-size: 1em;
    text-align: center; }
  @media (max-width: 480px) {
    footer {
      padding: 2.375em 0em 3.625em; }
      footer nav ul {
        text-align: left; }
        footer nav ul li {
          font-size: 0.75em; }
          footer nav ul li a {
            padding: 0em;
            text-decoration: underline; }
        footer nav ul li:before {
          border: none; }
      footer p {
        font-size: 0.75em; } }
  @media (min-width: 767px) and (max-width: 1024px) {
    footer p {
      font-size: 0.75em; } }

.common-block p {
  text-align: center;
  color: #3a3a3a;
  font-weight: 600;
  font-size: 1.25em;
  margin: 2.5em 0 0; }
  .common-block p span {
    color: #215aa9; }

.common-block p + p {
  color: #767676;
  font-size: 0.875em;
  font-weight: normal;
  margin: 0.625em 0 1.875em; }

@media (max-width: 480px) {
  .common-block p {
    font-size: 1em; }
  .common-block p + p {
    font-size: 0.75em; } }

@media (min-width: 767px) and (max-width: 1024px) and (orientation: portrait) {
  .common-block p {
    font-size: 1em; }
  .common-block p + p {
    font-size: 0.75em; } }

.button-common {
  padding: 0.75em 1.375em;
  text-align: center;
  background: #215aa9;
  color: #ffffff;
  text-decoration: none;
  font-size: 0.813em;
  font-weight: 600;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  border-radius: 5%; }
  .button-common.large {
    width: 10.000em; }
  .button-common.medium {
    width: 9.375em; }
