<!DOCTYPE html>
<html lang="en">
<head>	
	<title>Web Designer Ninja</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<meta name="theme-color" content="#215aa9">
	<meta name="msapplication-navbutton-color" content="#215aa9">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<header class="header">
		<div class="header-links container">
			<h1 class="header-h1">
				<a href="#">Web Designer <span>Ninja</span></a>
			</h1>
			<nav class="header-nav">
				<ul>
					<li>
						<a href="#">Video</a>
					</li>
					<li>
						<a href="#">Forum</a>
					</li>
					<li>
						<a href="#">Purchase Today</a>
					</li>
					<li>
						<a href="#">Demo</a>
					</li>
				</ul>
			</nav>			
		</div>			
	</header>
	<main role="main" class="main">
		<section class="section1">
			<div class="container">
				<img src="img/img1.png" alt="Website of the theme on a Tablet, Desktop and smartphones" class="section1__picture">
				<h2 class="section1__title">
					<span>Spotlight</span>, a Wordpress Theme for Creatives, Agencies & Small Businesses
				</h2>
				<p class="section1__desc">
					Creativio is the perfect theme for the creative individual, agencies, freelancers, or small businesses. It comes packed full of goodies and comes with a world class design.
				</p>
				<a href="#" class="btn">View Demo</a>
			</div>
		</section>
		<section class="section2">
			<div class="container">
				<article>
					<div class="section2__features">
						<h2 class="section2__title">
							Theme Features
						</h2>
						<ul class="section2__list">
							<li>Filterable Porftolio with Pagination</li>
							<li>3 Custom Widgets (Twitter, Flickr, Video)</li>
							<li>Post Format Support (Images, Galleries, Standard, Audio, Video)</li>
							<li>Theme Options Panel</li>
							<li>Powerful Slider</li>
							<li>Like Counter for Portfolio & Blog Items</li>
							<li>Wordpress 3.0+ Ready (Menus & Featured Images)</li>
							<li>Page Templates (Archives, Contact Form, Quote Form, Faq)</li>
							<li>Shortcode Generator (Columns, Buttons, Toggles, Tabs, Alerts, Headings)</li>
							<li>Full Localisation Support (contains .po / .mo files)</li>
							<li>HTML 5 Valid Code</li>
							<li>Support Forum</li>
							<li>Layered PSDs for Customisation</li>
							<li>The Best Documentation in the Industry</li>
						</ul>
					</div>
					<div class="section2__banner"> 
						<img src="img/img2.png" alt="Website of the theme on a Browser, smartphone and tablet" class="section2__picture">
					</div>					
				</article>
				<article class="section2__blocks">
					<div class="section2__block">
						<h2>
							Widgets & Shortcodes
						</h2>
						<div class="section2__block-desc">
							<div class="icon-box">
								<img src="img/icon-settings.png" alt="Gear icon">
							</div>
							<p>
								Comes with 3 custom widgets and tons of shortcodes to help you create amazing posts.
							</p>
						</div>
					</div>
					<div class="section2__block">
						<h2>
							Filterable portfolio
						</h2>
						<div class="section2__block-desc">
							<div class="icon-box">
								<img src="img/icon-star.png" alt="Star icon">
							</div>
							<p>
								Comes with 3 custom widgets and tons of shortcodes to help you create amazing posts. 
							</p>
						</div>
					</div>
					<div class="section2__block">
						<h2>
							Top Notch Documentation
						</h2>
						<div class="section2__block-desc">
							<div class="icon-box">
								<img src="img/icon-search.png" alt="Loupe icon">
							</div>							
							<p>
								Comes with 3 custom widgets and tons of shortcodes to help you create amazing posts.
							</p>
						</div>
					</div>
				</article>
				<article>
					<form action="" class="section2__newsletter">
						<input type="email" class="email-input" name="" id="" placeholder="Enter your email address to get free theme updates ...">
						<button class="btn email-btn">Sign Me Up</button>
					</form>				
				</article>		
			</div>
		</section>
		<section class="section3">
			<div class="container">
				<img src="img/img3.png" alt="Screenshots of the theme and a tablet between them" class="section3__picture">
				<h2 class="section3__title">
					What are you waiting for? <span>order Spotlight</span> today and blow your clients minds!
				</h2>
				<p class="section3__desc">
					Jumpstart your next web project with this professional and flexible WordPress theme.  Creativio will blow your client mind with the product you have made for them. 
				</p>
				<a href="#" class="btn">Purchase | $40</a>
			</div>
		</section>
	</main>
	<footer class="footer">
		<div class="container">
			<nav class="footer-nav">
				<ul>
					<li>
						<a href="#">Documentation</a>
					</li>
					<li>
						<a href="#">Video</a>
					</li>
					<li>
						<a href="#">Forum</a>
					</li>
					<li>
						<a href="#"><span>Purchase Today</span></a>
					</li>
					<li>
						<a href="#">Demo</a>
					</li>
				</ul>
			</nav>
			<span class="footer-copyright">
				Copyright  2014.  All  Rights  Reserved
			</span>
		</div>
	</footer>
	<script src="js/main.js"></script>
</body>
</html>