/* line 1, ../sass/reset.scss */
body {
  font-size: 62.5%;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  color: #666666;
}

/* line 8, ../sass/reset.scss */
p,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* line 36, ../sass/reset.scss */
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

/* line 42, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 46, ../sass/reset.scss */
fieldset,
img {
  border: 0;
}

/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
/* line 53, ../sass/reset.scss */
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

/* line 66, ../sass/reset.scss */
ol,
ul {
  list-style: none;
}

/* line 71, ../sass/reset.scss */
caption,
th {
  text-align: left;
}

/* line 75, ../sass/reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 84, ../sass/reset.scss */
q:before,
q:after {
  content: '';
}

/* line 88, ../sass/reset.scss */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
/* line 94, ../sass/reset.scss */
sup {
  vertical-align: text-top;
}

/* line 97, ../sass/reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 100, ../sass/reset.scss */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
/* line 108, ../sass/reset.scss */
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
/* line 114, ../sass/reset.scss */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
/* line 118, ../sass/reset.scss */
#yui3-css-stamp.cssreset {
  display: none;
}
