/* Compass Mixins */
/* line 17, ../sass/settings.scss */
.submit {
  background-color: #3366ff;
  border: medium none;
  border-radius: 2px;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding: 8px 15px;
  transition: all 200ms ease 200ms;
}
/* line 27, ../sass/settings.scss */
.submit:hover {
  background-color: #696969;
}

/* line 32, ../sass/settings.scss */
.title {
  color: #333333;
  font-size: 2.4em;
}

/* line 37, ../sass/settings.scss */
.links {
  color: #3366ff;
}

@-webkit-keyframes fadeIn {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
