/* line 1, ../sass/reset.scss */
body {
  font-size: 62.5%;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  color: #333333;
}

/* line 8, ../sass/reset.scss */
p,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* line 36, ../sass/reset.scss */
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

/* line 42, ../sass/reset.scss */
a:hover {
  color: #696969;
  transition: all 150ms ease 150ms;
}

/* line 47, ../sass/reset.scss */
img {
  max-width: 100%;
}

/* line 51, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 55, ../sass/reset.scss */
fieldset,
img {
  border: 0;
}

/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
/* line 63, ../sass/reset.scss */
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

/* line 76, ../sass/reset.scss */
ol,
ul {
  list-style: none;
}

/* line 81, ../sass/reset.scss */
caption,
th {
  text-align: left;
}

/* line 85, ../sass/reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 94, ../sass/reset.scss */
q:before,
q:after {
  content: '';
}

/* line 98, ../sass/reset.scss */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
/* line 104, ../sass/reset.scss */
sup {
  vertical-align: text-top;
}

/* line 107, ../sass/reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 110, ../sass/reset.scss */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
/* line 118, ../sass/reset.scss */
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
/* line 124, ../sass/reset.scss */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
/* line 128, ../sass/reset.scss */
#yui3-css-stamp.cssreset {
  display: none;
}

/* Compass Mixins */
/* line 17, ../sass/settings.scss */
.submit {
  background-color: #3366ff;
  border: medium none;
  border-radius: 2px;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding: 8px 15px;
  transition: all 200ms ease 200ms;
}
/* line 27, ../sass/settings.scss */
.submit:hover {
  background-color: #696969;
}

/* line 32, ../sass/settings.scss */
.title, .into h1, .content .features h1, .content .list-feat li h1, .buy h1 {
  color: #333333;
  font-size: 2.4em;
}

/* line 37, ../sass/settings.scss */
.links, .into h1 a, .buy h1 a {
  color: #3366ff;
}

@-webkit-keyframes fadeIn {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@media screen and (min-width: 320px) and (max-width: 736px) {
  /* line 4, ../sass/mediaqueries.scss */
  .navegation h1 {
    font-size: 1.6em !important;
    margin-left: 0 !important;
  }
  /* line 9, ../sass/mediaqueries.scss */
  .navegation span {
    font-size: 1em !important;
  }
  /* line 13, ../sass/mediaqueries.scss */
  .navegation ul {
    margin: 0 !important;
  }
  /* line 16, ../sass/mediaqueries.scss */
  .navegation ul a {
    font-size: 1.3em !important;
  }

  /* line 22, ../sass/mediaqueries.scss */
  .into {
    height: 455px !important;
  }

  /* line 29, ../sass/mediaqueries.scss */
  .content img {
    margin-bottom: 30px;
  }
  /* line 33, ../sass/mediaqueries.scss */
  .content .list-feat {
    text-align: center !important;
  }
  /* line 36, ../sass/mediaqueries.scss */
  .content .list-feat li {
    margin-right: 0 !important;
    margin-bottom: 30px;
  }
  /* line 42, ../sass/mediaqueries.scss */
  .content .email {
    width: 100% !important;
    margin: 39px 0 !important;
  }
  /* line 47, ../sass/mediaqueries.scss */
  .content .submit-email {
    margin-bottom: 30px;
  }

  /* line 52, ../sass/mediaqueries.scss */
  .buy {
    height: 415px !important;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /* line 58, ../sass/mediaqueries.scss */
  .content {
    width: 90% !important;
  }
  /* line 61, ../sass/mediaqueries.scss */
  .content .features {
    width: 38%;
  }
  /* line 66, ../sass/mediaqueries.scss */
  .content .list-feat li {
    margin-right: 0 !important;
  }
  /* line 69, ../sass/mediaqueries.scss */
  .content .list-feat li p {
    width: 190px !important;
  }
}
/* line 5, ../sass/style.scss */
header {
  height: 70px;
}

/* line 11, ../sass/style.scss */
body.floating-header-active .navegation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -moz-animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 24, ../sass/style.scss */
.navegation {
  height: 70px;
  background-color: #336699;
  color: #fff;
  width: 100%;
}
/* line 30, ../sass/style.scss */
.navegation h1 {
  display: inline-block;
  font-size: 3em;
  line-height: 2;
  margin-left: 10%;
}
/* line 37, ../sass/style.scss */
.navegation span {
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 44, ../sass/style.scss */
.navegation ul {
  display: inline-block;
  float: right;
  margin-right: 10%;
  margin-top: 18px;
}
/* line 51, ../sass/style.scss */
.navegation ul li {
  border-right: 2px solid #fff;
  display: inline-block;
}
/* line 55, ../sass/style.scss */
.navegation ul li:last-child {
  border-right: 0;
}
/* line 59, ../sass/style.scss */
.navegation ul li a {
  color: #fff;
  display: block;
  font-size: 1.6em;
  padding: 0 10px;
  font-weight: bold;
  position: relative;
  line-height: 1;
}
/* line 68, ../sass/style.scss */
.navegation ul li a:hover {
  color: #d3d3d3;
}

/* line 76, ../sass/style.scss */
.into {
  background: url("../imagens/background.png") repeat;
  height: 593px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #cccccc;
}
/* line 83, ../sass/style.scss */
.into img {
  margin-top: 30px;
}
/* line 94, ../sass/style.scss */
.into .submit-demo {
  margin-top: 20px;
}

/* line 99, ../sass/style.scss */
.content {
  display: block;
  margin: 0 auto;
  width: 80%;
}
/* line 104, ../sass/style.scss */
.content .features {
  margin: 4% 0;
  display: inline-block;
}
/* line 108, ../sass/style.scss */
.content .features h1 {
  margin-bottom: 20px;
}
/* line 113, ../sass/style.scss */
.content .features li {
  font-size: 1.2em;
}
/* line 118, ../sass/style.scss */
.content img {
  float: right;
}
/* line 123, ../sass/style.scss */
.content .list-feat li {
  display: inline-block;
  margin-right: 70px;
}
/* line 131, ../sass/style.scss */
.content .list-feat li .icon {
  display: inline-block;
}
/* line 135, ../sass/style.scss */
.content .list-feat li .icon-widgets {
  background: url("../imagens/sprit.png") no-repeat 0 2px;
  width: 86px;
  height: 71px;
}
/* line 141, ../sass/style.scss */
.content .list-feat li .icon-star {
  background: url("../imagens/sprit.png") no-repeat -130px 0;
  width: 74px;
  height: 72px;
}
/* line 147, ../sass/style.scss */
.content .list-feat li .icon-busca {
  background: url("../imagens/sprit.png") no-repeat -250px 0;
  width: 63px;
  height: 66px;
}
/* line 153, ../sass/style.scss */
.content .list-feat li p {
  display: inline-block;
  font-size: 1.2em;
  vertical-align: top;
  width: 200px;
  margin-top: 10px;
}
/* line 163, ../sass/style.scss */
.content .input-text {
  text-align: center;
}
/* line 166, ../sass/style.scss */
.content .input-text .email {
  border-radius: 3px;
  font-size: 1.4em;
  height: 50px;
  margin: 39px 10px;
  text-indent: 10px;
  width: 695px;
}
/* line 175, ../sass/style.scss */
.content .input-text .submit-email {
  height: 50px;
}

/* line 182, ../sass/style.scss */
.buy {
  background: url("../imagens/background.png");
  height: 575px;
  border-top: 1px solid #cccccc;
  text-align: center;
}
/* line 188, ../sass/style.scss */
.buy img {
  margin-top: 25px;
  margin-bottom: 50px;
}
/* line 194, ../sass/style.scss */
.buy div {
  background: url("../imagens/sprit.png") no-repeat -247px -1099px;
  width: 1006px;
  height: 331px;
  margin: 25px auto;
}
/* line 209, ../sass/style.scss */
.buy .submit-buy {
  margin-top: 3%;
}

/* line 214, ../sass/style.scss */
footer {
  text-align: center;
  background-color: #e5eaf1;
  height: 168px;
}
/* line 219, ../sass/style.scss */
footer li {
  border-right: 1px solid #3366ff;
  display: inline-block;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1;
  margin-left: 7px;
  margin-top: 5%;
  padding-right: 7px;
}
/* line 230, ../sass/style.scss */
footer p {
  font-size: 1.6em;
  margin-top: 20px;
}
