<svg viewBox="0 0 400 381" xmlns="http://www.w3.org/2000/svg">
  <path d="M199.9977-.00077l-65.92893 119.55645L0 145.31371l93.3241 99.64312-16.93742 135.46875 123.61102-57.98044 123.61103 57.98044-16.94507-135.46875 93.33175-99.64312-134.07642-25.75803z" fill-rule="evenodd"/>
</svg>