<svg viewBox="0 0 393 371" xmlns="http://www.w3.org/2000/svg">
  <path d="M158.0264 251.7456c-51.688 0-93.752-42.04-93.752-93.72s42.032-93.752 93.752-93.752c51.664 0 93.744 42.04 93.744 93.752 0 51.712-42.08 93.72-93.744 93.72m140.08404-20.51356l94.20636 94.20636-45.448 45.48-89.76803-89.76803c-27.10023 21.83625-61.55984 34.90723-99.07437 34.90723-87.288 0-158.024-70.752-158.024-158.032 0-87.28 70.736-158.024 158.024-158.024 87.248 0 158 70.744 158.024 158.024 0 26.4175-6.48103 51.32084-17.93996 73.20644z" fill-rule="evenodd"/>
</svg>