




.ro-grid {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* 1 */
    margin: 0;
    padding: 0;
    list-style: none;
}


.ro-grid:before,
.ro-grid:after {
    content: "";
    display: block;
    overflow: hidden;
}

.ro-grid:after { clear: both; }


.ro-grid > * {
    /* 1 */
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    /* 2 */
    margin: 0;
    /* 3 */
    float: left;
}


.ro-grid > * > :last-child { margin-bottom: 0; }

.ro-grid { margin-left: -$grid-gutter-horizontal; }
.ro-grid > * { padding-left: $grid-gutter-horizontal; }


.ro-grid + .ro-grid,
.ro-grid-margin,
.ro-grid > * > .ro-panel + .ro-panel { margin-top: $grid-gutter-vertical; }


@media (min-width: $breakpoint-xlarge) {

    .ro-grid { margin-left: -$grid-gutter-large-horizontal; }
    .ro-grid > * { padding-left: $grid-gutter-large-horizontal; }

    .ro-grid + .ro-grid,
    .ro-grid-margin,
    .ro-grid > * > .ro-panel + .ro-panel { margin-top: $grid-gutter-large-vertical; }

}


.ro-grid-collapse { margin-left: 0; }
.ro-grid-collapse > * { padding-left: 0; }

.ro-grid-collapse + .ro-grid-collapse,
.ro-grid-collapse > .ro-grid-margin,
.ro-grid-collapse > * > .ro-panel + .ro-panel { margin-top: 0; }

.ro-grid-small { margin-left: -$grid-gutter-small-horizontal; }
.ro-grid-small > * { padding-left: $grid-gutter-small-horizontal; }


.ro-grid-small + .ro-grid-small,
.ro-grid-small > .ro-grid-margin,
.ro-grid-small > * > .ro-panel + .ro-panel { margin-top: $grid-gutter-small-vertical; }


.ro-grid-medium { margin-left: -$grid-gutter-horizontal; }
.ro-grid-medium > * { padding-left: $grid-gutter-horizontal; }


.ro-grid-medium + .ro-grid-medium,
.ro-grid-medium > .ro-grid-margin,
.ro-grid-medium > * > .ro-panel + .ro-panel { margin-top: $grid-gutter-vertical; }


@media (min-width: $breakpoint-large) {

    .ro-grid-large { margin-left: -$grid-gutter-large-horizontal; }
    .ro-grid-large > * { padding-left: $grid-gutter-large-horizontal; }

    .ro-grid-large + .ro-grid-large,
    .ro-grid-large-margin,
    .ro-grid-large > * > .ro-panel + .ro-panel { margin-top: $grid-gutter-large-vertical; }

}


@media (min-width: $breakpoint-xlarge) {

    .ro-grid-large { margin-left: -$grid-gutter-xlarge-horizontal; }
    .ro-grid-large > * { padding-left: $grid-gutter-xlarge-horizontal; }

    .ro-grid-large + .ro-grid-large,
    .ro-grid-large-margin,
    .ro-grid-large > * > .ro-panel + .ro-panel { margin-top: $grid-gutter-xlarge-vertical; }

}


.ro-grid-divider:not(:empty) {
    margin-left: -$grid-gutter-horizontal;
    margin-right: -$grid-gutter-horizontal;
}

.ro-grid-divider > * {
    padding-left: $grid-gutter-horizontal;
    padding-right: $grid-gutter-horizontal;
}

.ro-grid-divider > [class*='ro-width-1-']:not(.ro-width-1-1):nth-child(n+2),
.ro-grid-divider > [class*='ro-width-2-']:nth-child(n+2),
.ro-grid-divider > [class*='ro-width-3-']:nth-child(n+2),
.ro-grid-divider > [class*='ro-width-4-']:nth-child(n+2),
.ro-grid-divider > [class*='ro-width-5-']:nth-child(n+2),
.ro-grid-divider > [class*='ro-width-6-']:nth-child(n+2),
.ro-grid-divider > [class*='ro-width-7-']:nth-child(n+2),
.ro-grid-divider > [class*='ro-width-8-']:nth-child(n+2),
.ro-grid-divider > [class*='ro-width-9-']:nth-child(n+2) { border-left: $grid-divider-border-width solid $grid-divider-border; }

/* Tablet and bigger */
@media (min-width: $breakpoint-medium) {

    .ro-grid-divider > [class*='ro-width-medium-']:not(.ro-width-medium-1-1):nth-child(n+2) { border-left: $grid-divider-border-width solid $grid-divider-border; }

}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .ro-grid-divider > [class*='ro-width-large-']:not(.ro-width-large-1-1):nth-child(n+2) { border-left: $grid-divider-border-width solid $grid-divider-border; }

}

/* Large screen and bigger */
@media (min-width: $breakpoint-xlarge) {

    .ro-grid-divider:not(:empty) {
        margin-left: -$grid-gutter-large-horizontal;
        margin-right: -$grid-gutter-large-horizontal;
    }

    .ro-grid-divider > * {
        padding-left: $grid-gutter-large-horizontal;
        padding-right: $grid-gutter-large-horizontal;
    }

    .ro-grid-divider:empty {
        margin-top: $grid-gutter-large-vertical;
        margin-bottom: $grid-gutter-large-vertical;
    }

}

.ro-grid-divider:empty {
    margin-top: $grid-gutter-vertical;
    margin-bottom: $grid-gutter-vertical;
    border-top: $grid-divider-border-width solid $grid-divider-border;
}

.ro-grid-match > * {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.ro-grid-match > * > * {
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
    box-sizing: border-box;
    width: 100%;
}

[class*='uk-grid-width'] > * {
    box-sizing: border-box;
    width: 100%;
}

.ro-grid-width-1-2 > * { width: 50%; }
.ro-grid-width-1-3 > * { width: 33.333%; }
.ro-grid-width-1-4 > * { width: 25%; }
.ro-grid-width-1-5 > * { width: 20%; }
.ro-grid-width-1-6 > * { width: 16.666%; }
.ro-grid-width-1-10 > * { width: 10%; }

.ro-grid-width-auto > * { width: auto; }

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {

    .ro-grid-width-small-1-1 > * { width: 100%; }
    .ro-grid-width-small-1-2 > * { width: 50%; }
    .ro-grid-width-small-1-3 > * { width: 33.333%; }
    .ro-grid-width-small-1-4 > * { width: 25%; }
    .ro-grid-width-small-1-5 > * { width: 20%; }
    .ro-grid-width-small-1-6 > * { width: 16.666%; }
    .ro-grid-width-small-1-10 > * { width: 10%; }

}

/* Tablet and bigger */
@media (min-width: $breakpoint-medium) {

    .ro-grid-width-medium-1-1 > * { width: 100%; }
    .ro-grid-width-medium-1-2 > * { width: 50%; }
    .ro-grid-width-medium-1-3 > * { width: 33.333%; }
    .ro-grid-width-medium-1-4 > * { width: 25%; }
    .ro-grid-width-medium-1-5 > * { width: 20%; }
    .ro-grid-width-medium-1-6 > * { width: 16.666%; }
    .ro-grid-width-medium-1-10 > * { width: 10%; }

}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    .ro-grid-width-large-1-1 > * { width: 100%; }
    .ro-grid-width-large-1-2 > * { width: 50%; }
    .ro-grid-width-large-1-3 > * { width: 33.333%; }
    .ro-grid-width-large-1-4 > * { width: 25%; }
    .ro-grid-width-large-1-5 > * { width: 20%; }
    .ro-grid-width-large-1-6 > * { width: 16.666%; }
    .ro-grid-width-large-1-10 > * { width: 10%; }

}

/* Large screen and bigger */
@media (min-width: $breakpoint-xlarge) {

    .ro-grid-width-xlarge-1-1 > * { width: 100%; }
    .ro-grid-width-xlarge-1-2 > * { width: 50%; }
    .ro-grid-width-xlarge-1-3 > * { width: 33.333%; }
    .ro-grid-width-xlarge-1-4 > * { width: 25%; }
    .ro-grid-width-xlarge-1-5 > * { width: 20%; }
    .ro-grid-width-xlarge-1-6 > * { width: 16.666%; }
    .ro-grid-width-xlarge-1-10 > * { width: 10%; }

}



[class*='ro-width'] {
    box-sizing: border-box;
    width: 100%;
}

/*
 * Widths
 */

/* Whole */
.ro-width-1-1 { width: 100%; }

/* Halves */
.ro-width-1-2,
.ro-width-2-4,
.ro-width-3-6,
.ro-width-5-10 { width: 50%; }

/* Thirds */
.ro-width-1-3,
.ro-width-2-6 { width: 33.333%; }
.ro-width-2-3,
.ro-width-4-6 { width: 66.666%; }

/* Quarters */
.ro-width-1-4 { width: 25%; }
.ro-width-3-4 { width: 75%; }

/* Fifths */
.ro-width-1-5,
.ro-width-2-10 { width: 20%; }
.ro-width-2-5,
.ro-width-4-10 { width: 40%; }
.ro-width-3-5,
.ro-width-6-10 { width: 60%; }
.ro-width-4-5,
.ro-width-8-10 { width: 80%; }

/* Sixths */
.ro-width-1-6 { width: 16.666%; }
.ro-width-5-6 { width: 83.333%; }

/* Tenths */
.ro-width-1-10 { width: 10%; }
.ro-width-3-10 { width: 30%; }
.ro-width-7-10 { width: 70%; }
.ro-width-9-10 { width: 90%; }

/* Phone landscape and bigger */
@media (min-width: $breakpoint-small) {

    /* Whole */
    .ro-width-small-1-1 { width: 100%; }

    /* Halves */
    .ro-width-small-1-2,
    .ro-width-small-2-4,
    .ro-width-small-3-6,
    .ro-width-small-5-10 { width: 50%; }

    /* Thirds */
    .ro-width-small-1-3,
    .ro-width-small-2-6 { width: 33.333%; }
    .ro-width-small-2-3,
    .ro-width-small-4-6 { width: 66.666%; }

    /* Quarters */
    .ro-width-small-1-4 { width: 25%; }
    .ro-width-small-3-4 { width: 75%; }

    /* Fifths */
    .ro-width-small-1-5,
    .ro-width-small-2-10 { width: 20%; }
    .ro-width-small-2-5,
    .ro-width-small-4-10 { width: 40%; }
    .ro-width-small-3-5,
    .ro-width-small-6-10 { width: 60%; }
    .ro-width-small-4-5,
    .ro-width-small-8-10 { width: 80%; }

    /* Sixths */
    .ro-width-small-1-6 { width: 16.666%; }
    .ro-width-small-5-6 { width: 83.333%; }

    /* Tenths */
    .ro-width-small-1-10 { width: 10%; }
    .ro-width-small-3-10 { width: 30%; }
    .ro-width-small-7-10 { width: 70%; }
    .ro-width-small-9-10 { width: 90%; }

}

/* Tablet and bigger */
@media (min-width: $breakpoint-medium) {

    /* Whole */
    .ro-width-medium-1-1 { width: 100%; }

    /* Halves */
    .ro-width-medium-1-2,
    .ro-width-medium-2-4,
    .ro-width-medium-3-6,
    .ro-width-medium-5-10 { width: 50%; }

    /* Thirds */
    .ro-width-medium-1-3,
    .ro-width-medium-2-6 { width: 33.333%; }
    .ro-width-medium-2-3,
    .ro-width-medium-4-6 { width: 66.666%; }

    /* Quarters */
    .ro-width-medium-1-4 { width: 25%; }
    .ro-width-medium-3-4 { width: 75%; }

    /* Fifths */
    .ro-width-medium-1-5,
    .ro-width-medium-2-10 { width: 20%; }
    .ro-width-medium-2-5,
    .ro-width-medium-4-10 { width: 40%; }
    .ro-width-medium-3-5,
    .ro-width-medium-6-10 { width: 60%; }
    .ro-width-medium-4-5,
    .ro-width-medium-8-10 { width: 80%; }

    /* Sixths */
    .ro-width-medium-1-6 { width: 16.666%; }
    .ro-width-medium-5-6 { width: 83.333%; }

    /* Tenths */
    .ro-width-medium-1-10 { width: 10%; }
    .ro-width-medium-3-10 { width: 30%; }
    .ro-width-medium-7-10 { width: 70%; }
    .ro-width-medium-9-10 { width: 90%; }

}

/* Desktop and bigger */
@media (min-width: $breakpoint-large) {

    /* Whole */
    .ro-width-large-1-1 { width: 100%; }

    /* Halves */
    .ro-width-large-1-2,
    .ro-width-large-2-4,
    .ro-width-large-3-6,
    .ro-width-large-5-10 { width: 50%; }

    /* Thirds */
    .ro-width-large-1-3,
    .ro-width-large-2-6 { width: 33.333%; }
    .ro-width-large-2-3,
    .ro-width-large-4-6 { width: 66.666%; }

    /* Quarters */
    .ro-width-large-1-4 { width: 25%; }
    .ro-width-large-3-4 { width: 75%; }

    /* Fifths */
    .ro-width-large-1-5,
    .ro-width-large-2-10 { width: 20%; }
    .ro-width-large-2-5,
    .ro-width-large-4-10 { width: 40%; }
    .ro-width-large-3-5,
    .ro-width-large-6-10 { width: 60%; }
    .ro-width-large-4-5,
    .ro-width-large-8-10 { width: 80%; }

    /* Sixths */
    .ro-width-large-1-6 { width: 16.666%; }
    .ro-width-large-5-6 { width: 83.333%; }

    /* Tenths */
    .ro-width-large-1-10 { width: 10%; }
    .ro-width-large-3-10 { width: 30%; }
    .ro-width-large-7-10 { width: 70%; }
    .ro-width-large-9-10 { width: 90%; }

    .ro-width-large-1-12 { width: 8.333%; }
    .ro-width-large-3-12 { width: 24.999%; }
    .ro-width-large-4-12 { width: 33.33333333%; }
    .ro-width-large-7-12 { width: 58.331%; }
    .ro-width-large-8-12 { width: 66.66666667%; }
    .ro-width-large-9-12 { width: 74.997%; }
}

/* Large screen and bigger */
@media (min-width: $breakpoint-xlarge) {

    /* Whole */
    .ro-width-xlarge-1-1 { width: 100%; }

    /* Halves */
    .ro-width-xlarge-1-2,
    .ro-width-xlarge-2-4,
    .ro-width-xlarge-3-6,
    .ro-width-xlarge-5-10 { width: 50%; }

    /* Thirds */
    .ro-width-xlarge-1-3,
    .ro-width-xlarge-2-6 { width: 33.333%; }
    .ro-width-xlarge-2-3,
    .ro-width-xlarge-4-6 { width: 66.666%; }

    /* Quarters */
    .ro-width-xlarge-1-4 { width: 25%; }
    .ro-width-xlarge-3-4 { width: 75%; }

    /* Fifths */
    .ro-width-xlarge-1-5,
    .ro-width-xlarge-2-10 { width: 20%; }
    .ro-width-xlarge-2-5,
    .ro-width-xlarge-4-10 { width: 40%; }
    .ro-width-xlarge-3-5,
    .ro-width-xlarge-6-10 { width: 60%; }
    .ro-width-xlarge-4-5,
    .ro-width-xlarge-8-10 { width: 80%; }

    /* Sixths */
    .ro-width-xlarge-1-6 { width: 16.666%; }
    .ro-width-xlarge-5-6 { width: 83.333%; }

    /* Tenths */
    .ro-width-xlarge-1-10 { width: 10%; }
    .ro-width-xlarge-3-10 { width: 30%; }
    .ro-width-xlarge-7-10 { width: 70%; }
    .ro-width-xlarge-9-10 { width: 90%; }

    /* twelfths */

    .ro-width-xlarge-1-12 { width: 8.333%; }
    .ro-width-xlarge-3-12 { width: 24.999%; }
    .ro-width-xlarge-4-12 { width: 33.332%; }
    .ro-width-xlarge-7-12 { width: 58.331%; }
    .ro-width-xlarge-9-12 { width: 74.997%; }
}
