header
  background #215aa9
  color #fff
  
.logo
  color inherit
  
  & h1
    font-size 26px
    margin 20px 0 25px

  & small
    color inherit
    
.header-menu
  margin-top 25px
  
  & li
    border-left 1px solid #fff
    line-height 14px
    
    &:first-child
      border-left 0
  
  & a
    color #fff
    font-size 16px
    padding: 0 15px;
    
    &:hover
      color #fff
      text-decoration underline

.theme-description
  padding 40px 0 20px
  
  &__image
    height 383px
    width 940px
    
  &__button
    margin-left -56px
    position relative
    left 50%

.theme-features
  background url(/img/feature.png) no-repeat right 50px
  margin-bottom 50px
  
  &__title
    font-size 24px
    margin 50px 0 25px
  
  &__list
    font-size 12px
    margin-bottom 70px

.feature-highlight
  
  &__description
    font-size 12px
    padding 35px 60px 0 0px
    
  &__image
    float left
    margin-right 40px
    
.form-newsletter
  
  &__input
    height 42px
    
footer
  background #e5eaf1 
  padding 65px 0 45px
  
.footer-menu
  
  & li
    border-left 1px solid highlightColor
    line-height 14px
    
    &:first-child
      border-left 0
  
  & a
    color #3a3a3a
    font-weight bold
    
    &:hover
      color highlightColor
      text-decoration none
      
.copyright
  color highlightColor
  font-size 16px