@import 'mixin';

header {
  @include respondTo(smartphone) {
    padding: 0 !important;

    h1 {
      background: url('../images/logo.png') no-repeat 0 20px !important;
      background-size: contain !important;
      width: 100%;
      height: 70px;
    }

    .lst-nav {
      ul {
        padding: 1.250em 0 !important;
        li {
          font-size: 0.625em !important;
          a {
            text-decoration: underline !important;
          }

          a:after {
            border-right: none !important;
            padding: 0 !important;
          }
        }
      }
    }
  }
  @include respondTo(tablet) {
    padding: 1.250em 0 !important;
  }
}

.content-features {
  @include respondTo(smartphone) {
    h2 {
      text-align: center;
    }
  }
}

.content-register {
  @include respondTo(smartphone) {
    h3{
      font-size:1.250em !important;
    }
    form {
      margin: 0.750em 0 0em !important;
      input {
        width: 65% !important;
        height:2.500em !important;
      }
       ::-webkit-input-placeholder {
        color: $greySoftLight;
        font-size: 0.500em !important;
      }
       ::-moz-placeholder {
        color: $greySoftLight;
        font-size: 0.500em !important;
      }
       :-ms-input-placeholder {
        color: $greySoftLight;
        font-size: 0.500em !important;
      }
       :-moz-placeholder {
        color: $greySoftLight;
        font-size: 0.500em !important;
      }
    }
  }

  @include respondTo(tablet){
    h2,h3{
      font-size:1.375em !important;
    }
  }
}