$smartphone: 480px;
$smartphonePortrait:320px;
$smartphoneLandscape:568px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;

@mixin respondTo($media) {
  @if $media==smartphone {
    @media (max-width: $smartphone) {
      @content;
    }
  }
  @else if $media==smartSmall {
    @media (min-width: $smartphonePortrait) and (max-width: $smartphoneLandscape) {
      @content;
    }
  }
  @else if $media==tablet {
    @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) {
      @content;
    }
  }
  @else if $media==tabletPortrait {
    @media (min-width: $tabletPortrait) and (max-width: $tabletLandscape) and (orientation: portrait) {
      @content;
    }
  }
  @else if $media==smallScreen {
    @media (max-width: $desktop) {
      @content;
    }
  }
  @else if $media==desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  }
  @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}