// colors
$blue:#215aa9;
$blueOcean:#2c5ee6;
$blueLight:#2f62f2;
$white:#ffffff;
$blackDark:#3a3a3a;
$grey:#e5eaf1;
$greyLight:#767676;
$greySoft:#e4e4e4;
$greySoftLight:#848484;
$marine:#e5eaf1;
$sand:#f5f5f5;

// sizes
$default: 1.000em; //16px
$one:0.063em;//1px
$five:0.313em; //5px
$eight:0.500em;//8px
$ten:0.625em;//10px
$twelve:0.750em; //12px
$fourteen:0.875em; //14px
$fifteen:0.938em; //15px
$eighteen:1.125em;//18px
$twenty:1.250em;//20px
$seventy:4.375em;//70px
$twentyFour:1.500em; //24px
$thirty:1.875em;//30px
$forty:2.500em; //40px
$fifty:3.125em; //50px