<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    {% include "head/template.njk" %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script src="./js/bundle.js" charset="utf-8"></script>
  </body>
</html>
