{% extends "base.njk" %}

{% block body %}
  {% block header %}
  {% include "header/template.njk" %}
  {% endblock %}

  <main>
    {% block content %}
    {% endblock %}
  </main>

  {% block footer %}
  {% include "footer/template.njk" %}
  {% endblock %}
{% endblock %}
