@import '../../scss/deps';

.footer {
  background: transparentize(map-get($colors, primary), .8);
  margin-top: 50px;
  padding: 50px 0;

  .menu {
    flex-wrap: wrap;

    .item { padding: 10px 0 }
  }

  .copyright {
    color: map-get($colors, primary);
    font-size: 1.6em;
    text-align: center;
  }
}
