//ALIGNS
.grid {
  &.halign {
    &-left {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-right {
      justify-content: flex-end;
    }
    &-between {
      justify-content: space-between;
    }
    &-around {
      justify-content: space-around;
    }
  }
  &.valign {
    &-top {
      align-items: flex-start;
    }
    &-middle {
      align-items: center;
    }
    &-baseline {
      align-items: baseline;
    }
    &-bottom {
      align-items: flex-end;
    }
  }
  &.calign {
    &-top {
      align-content: flex-start;
    }
    &-middle {
      align-content: center;
    }
    &-baseline {
      align-content: baseline;
    }
    &-bottom {
      align-content: flex-end;
    }
  }
  .self {
    &-top {
      align-self: flex-start;
    }
    &-middle {
      align-self: center;
    }
    &-bottom {
      align-self: flex-end;
    }
    &-stretch {
      align-self: stretch;
    }
    &-baseline {
      align-self: baseline;
    }
  }
}
