*{
  color: $cor-da-fonte;
}
.botao{
  color: #FFF;
  background: $cor-principal;
  border-radius: 5px;
  padding: 1rem 2rem;
  transition: background-color .5s, box-shadow .5s;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.header{
  background-color: $back-header;
  padding: 1.5rem 0;
  margin-bottom: 30px;
  transition: transform .3s linear;
  @media (max-width:768px) {
    text-align: center;
  }
}
.header--oculto{
  position: fixed;
  width: 100%;
  z-index: 2;
  transform: translateY(-84px);
  padding: 0;
  @media (max-width: 768px){
    transform: translateY(-90px);
  }
}
.header--fixo{
  position: fixed;
  width: 100%;
  z-index: 2;
}
.main--relativo{
  position: relative;
  padding-top: 114px;
  @media (max-width: 768px){
    padding-top: 149px;
  }
}
.logo{
  padding: 1rem;
  color: white;
  font-weight: normal;
  font-size: 3rem
}
.logo span{
  font-size: 2rem;
  color: white
}
.nav{
  display: flex;
  justify-content: flex-end;
  margin-top: calc(60px - 70px/2);
  @media (max-width:768px) {
    justify-content: center;
  }
}
.nav-item{
  padding: 0 1rem;
  color: white;
  font-weight: normal;
  cursor: pointer;
  border-right: 1px solid #fff;
  line-height: 10px;
  @media (max-width: 330px){
    padding: 0 0.8rem;
  }
}
.nav-item:last-child{
  border-right: none
}
.spotlight{
  text-align: center;
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid $cor-borda-secoes;
}
.spotlight span{
  color: $cor-principal;
}
.spotlight h2,
.spotlight p{
  margin: 30px 0;
  color: $cor-da-fonte;
}
.spotlight h2{
  font-size: 2.2rem
}
.spotlight p{
  font-size: 1.4rem;
  color: #767676;
}
.themeFeatures{
  margin-bottom: 50px;
  @media (max-width: 600px){
    padding: 15px;
  }
}
.themeFeatures h2{
  margin-bottom: 15px;
}
.themeFeatures li{
  margin: 5px 0;
  font-size: 1.2rem;
}
.itens{
  margin-bottom: 50px;
  @media (max-width: 600px){
    padding: 15px;
  }
}
.item-conteudo{
  display: flex;
  padding: 10px;
}
.item h2{
  padding: 20px 0;
}
.item-conteudo p{
  color: #767676;
  font-size: 1.3rem;
  max-width: 70%;
}
.item-conteudo img{
  padding-right: 30px;
}
.SignMeUp{
  padding: 50px 0;
  border-bottom: 1px solid $cor-borda-secoes; 
  @media (max-width: 600px){
    padding: 15px;
    text-align: center;
  }
}
.SignMeUp input{
  width: 80%;
  margin-right: 2%;
  margin-bottom: 1em;
  padding: 1.2rem 2rem;
  border: 1px solid #f5f5f5;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.34);
  @media (max-width: 600px){
    padding: 15px;
  }
}
.SignMeUp .botao{
  max-width: 125px;
  display: inline-block;
}
.chamada{
  padding: 50px 0;
  text-align: center;
  @media (max-width: 600px){
    padding: 50px 15px;
  }
}
.chamada h2,
.chamada p{
  margin: 30px 0;
  color: $cor-da-fonte;
}
.chamada span{
  color: $cor-principal;
}
.footer{
  background-color: $back-footer;
  padding: 50px 0;
}
.footer ul {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  flex-wrap: wrap;
}
.footer span{
  color: $cor-principal;
}
.footer li{
  padding: 0 15px;
  font-weight: bold;
  border-right: 1px solid $cor-principal;
  line-height: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  @media (max-width:530px){
    line-height: 20px;
  }
}
.footer li:last-child{
  border-right: none
}
.footer p {
  text-align: center;
  color: $cor-principal;
  padding: 20px 0;
  font-size: 1.5rem
}