html,
body {
	font-family: $main-font;
	height: 100%;
}

.container {
	margin: 0 auto;
	max-width: 960px;
	width: 100%;    
}
section {
	padding: 40px 10px;

	+breakpoint(mobile tablet) {
		padding: 40px 20px;
	}
	& + section {
		border-top: 1px solid $gray1;	
	}
}

h2 {
	span {
		color: blue;      
	}
}

a {
	text-decoration: none;
}
ul {
	padding: 0;
}
li {
	list-style: none;
}

p {
	color: $gray2;
	font-size: 10pt;
}

img {
	max-width: 100%;
}